<div class="unwrap">
  <div style="background-image: url(img/profile-bg.jpg)" class="bg-cover">
    <div class="p-xl text-center text-white">
      <img src="/api/user/<%- user.id %>/avatar" class="img-thumbnail img-rounded thumb256 profile-avatar">
      <h3 class="m0"><%- user.username %></h3>
    </div>
  </div>
  <div class="text-center bg-gray-dark p-lg mb-xl">
    <div class="row row-table">
      <div class="col-xs-4 br">
        <h3 class="m0"><%- user.bets.placed %></h3>
        <p class="m0">Placed Bets</p>
      </div>
      <div class="col-xs-4 br">
        <h3 class="m0"><%- user.bets.won %></h3>
        <p class="m0">Won Bets</p>
      </div>
      <div class="col-xs-4">
        <h3 class="m0"><%- user.bets.lost %></h3>
        <p class="m0">Lost Bets</p>
      </div>
    </div>
  </div>
</div>
