<style>
  .row-centered {
    text-align: center;
  }

  .col-centered {
    display:inline-block;
    float:none;
    background-color: #dde6e9;
    width: 165px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }

  .close-header {
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>

<div class="row">
  <% if (match.extra.note) { %>
  <div role="alert" class="alert alert-warning">
    <strong>Match Note: </strong> <%= match.extra.note %>
  </div>
  <% } %>
  <div class="col-lg-3 col-sm-6">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-primary-dark pv-lg">
          <em class="fa fa-key fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0"><%- match.stats.skins %></div>
          <div class="text-uppercase">Skins Bet</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="panel widget bg-purple">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-purple-dark pv-lg">
          <em class="fa fa-group fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0"><%- match.stats.players %></div>
          <div class="text-uppercase">Players Placed Bets</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel widget bg-green">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-green-dark pv-lg">
          <em class="fa fa-dollar fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0"><%- match.stats.value %></div>
          <div class="text-uppercase">Value Placed</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel widget">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-warning pv-lg">
          <div data-now="" data-format="MMMM" class="text-sm"><%- time.format("MMMM") %></div>
          <br>
          <div data-now="" data-format="D" class="h2 mt0"><%- time.format("D") %></div>
        </div>
        <div class="col-xs-8 pv-lg">
          <div data-now="" data-format="dddd" class="text-uppercase"><%- time.format("dddd") %></div>
          <br>
          <div data-now="" data-format="h:mm" class="h2 mt0"><%- time.format("h:mm") %></div>
          <div data-now="" data-format="a" class="text-muted text-sm"><%- time.format("a") %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if (app.user) { %>
          <% if (_.isEmpty(match.me)) { %>
            <button id="bet-btn" type="button" class="btn btn-large btn-square btn-success">
              <h2>Place a Bet</h2>
            </button>
            <% } else { %>
              <% if (match.me.state == "offered") { %>
                <div role="alert" class="alert alert-warning">
                  You have a pending bet placed on team <%- match.teams[match.me.team].name %>!
                </div>
              <% } %>
              <h3 style='text-align: center'>$<%- match.me.value %> for $<%- match.me.return %> return</h3>
              <div class="row row-centered">
              <% for (index in _.range(4)) { %>
                <% var item = match.me.items[index] %>
                <% if (!item) { %>
                  <div class="col-sm-2 col-centered bet-slot">
                    <em style="font-size: 9em;" class="fa fa-question"></em>
                  </div>
                <% } else { %>
                  <div class="col-sm-2 col-centered bet-slot" data-toggle="tooltip" title="<h4><%= item.name %></h4>" data-placement="right">
                    <img src="https://steamcommunity-a.akamaihd.net/economy/image/<%= item.image %>" style="max-height: 125px; max-width: 125px;"/>
                    <p><%= item.price %></p>
                  </div>
                <% } %>
              <% } %>
              </div>
            <% } %>
          <% } else { %>
            <h2>Login to place a bet!</h2>
          <% } %>
      </div>
    </div>
  </div>
  <div class="col-lg-10">
    <div id="panelDemo14" class="panel panel-default">
      <div class="panel-body">
        <div role="tabpanel">
          <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="active">
              <a href="#matchinfo" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Match Info</a>
            </li>
            <% for (stream in match.extra.streams) { %>
            <li role="presentation" class="">
              <a href="#stream-<%- stream %>" role="tab" data-toggle="tab"><%- match.extra.streams[stream] %></a>
            </li>
            <% } %>
          </ul>
          <div class="tab-content">
            <div id="matchinfo" role="tabpanel" class="tab-pane active">
              <div class="row">
                <% for (team in match.teams) { %>
                  <% var team = match.teams[team] %>
                  <div class="col-md-6">
                    <img src="<%- team.logo %>" style="max-height: 256px"/>
                    <h1><%= team.name %></h1>
                    <h3><%= team.odds * 100 %>%</h3>
                    <h3 class="close-header">Bets: <%= team.stats.players %></h3>
                    <h3 class="close-header">Skins: <%= team.stats.skins %></h3>
                    <h3 class="close-header">Value: $<%= team.stats.value %></h3>
                  </div>
                <% } %>
              </div>
              <hr>
              <div class="row">
                <% if (match.extra.maps) { %>
                  <div class="col-md-12">
                    <h1>Map Pool</h1>
                    <% for (map in match.extra.maps) { %>
                      <h3><%= match.extra.maps[map] %></h3>
                    <% } %>
                  </div>
                <% } %>
              </div>
            </div>
            <% for (stream in match.extra.streams) { %>
            <div id="stream-<%- stream %>" role="tabpanel" class="tab-pane">
              <div class="embed-responsive embed-responsive-16by9">
                <% var streamUrl = match.extra.streams[stream] %>
                <% if (streamUrl.indexOf("http://twitch.tv/") == 0) { %>
                  <iframe src="<%- streamUrl %>/embed" frameborder="0" scrolling="no"></iframe>
                <% } else { %>
                  <iframe src="<%- streamUrl %>" frameborder="0" scrolling="no"></iframe>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bet-modal-container">

</div>
