{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-users fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg">{{ users_count }}</div>
            <h2 class="unmargin">Users</h2>
          </div>
        </div>
      </div>
      <a href="/admin/users" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
        <span class="pull-left">View Details</span>
        <span class="pull-right">
          <em class="fa fa-chevron-circle-right"></em>
        </span>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-gamepad fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg">{{ games_count }}</div>
            <h2 class="unmargin">Games</h2>
          </div>
        </div>
      </div>
      <a href="/admin/games" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
        <span class="pull-left">View Details</span>
        <span class="pull-right">
          <em class="fa fa-chevron-circle-right"></em>
        </span>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <!-- START panel-->
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-shopping-cart fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg">{{ matches_count }}</div>
            <h2 class="m0">Matches</h2>
          </div>
        </div>
      </div>
      <a href="/admin/matches" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
        <span class="pull-left">View Details</span>
        <span class="pull-right">
          <em class="fa fa-chevron-circle-right"></em>
        </span>
      </a>
    </div>
    <!-- END panel-->
  </div>
  <div class="col-lg-3 col-md-6">
    <!-- START panel-->
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-support fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg">{{ bets_count }}</div>
            <h2 class="m0">Bets</h2>
          </div>
        </div>
      </div>
      <a href="/admin/bets" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
        <span class="pull-left">View Details</span>
        <span class="pull-right">
          <em class="fa fa-chevron-circle-right"></em>
        </span>
      </a>
    </div>
    <!-- END panel-->
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">Bot Capacity
      <div class="btn-group pull-right"></div>
    </div>
    <div class="panel-body">
      <div class="progress">
        <div role="progressbar" style="width: {{ b_cap }}%" class="progress-bar progress-bar-success">
        </div>
      </div>
      <h3>{{ b_used }} out of {{ b_total }} used</h3>
    </div>
  </div>
</div>

{% endblock %}

{% block post_scripts %}
<style>
.topnavbar {
  background-color: #f05050;
  background-image: linear-gradient(to right, #f05050 0, #f05050 100%);
}
</style>
<script src="/static/js/admin.js"></script>
{% endblock %}
